html {
  background-color: #f5f8fa !important;
  width: 100%;
  height: 100%;
}
body {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
}


.big {
  width: 400px;
  height: 400px;
  padding-top: 56.25%;
  border-radius: 5px;
}
.card-header {
  background-size: 100% 100% !important;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
}
.card {
  border-radius: 5px;
}
.card-content {
  padding: 0;
}
.box {
    word-break: break-word !important;
}
.send {
    border-radius: 35px;
}
.card-avatar {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}

.card-avatar-img {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  height: 100px;
  width: 100px;
}

.card-user {
  margin: 5px 0 0;
}

.card-user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.card-user-name a {
  color: inherit !important;
}

.card-stats {
  margin-left: 11px;
  padding: 10px 0;
}

.card-stats-list {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

ul.card-stats-list {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.card-stats-item {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.card-stats-item a:hover {
  text-decoration: none;
}

.card-stats-val {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}

.card-stats-key {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

.spacer {
  height: 20px;
}